doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="./style.css")
    title siggre
  body
    header.header
      .inner
        h1.title siggre
    main.main
      .inner
        #game
    footer.footer
      .inner
